footer {
    display: grid;
    padding: 0.5em;
    justify-content: center;
    text-align: center;
}

.flexThisBox {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

